.item-Container{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    justify-content: space-around;
    align-items: center;
    margin:20px 20px;
    height: 500px;
    // height: 50px;
    background-color: sandybrown;

    button{
        height: 50px;
    }
    .delete-button{
        background-color: red;
        cursor: pointer;
    }
    .delete-button:hover{
        background-color: rgb(187, 4, 4);
    }
    .save-button{
        background-color: rgb(8, 227, 8);
        cursor: pointer;
    }
    .save-button:hover{
        background-color: rgb(5, 139, 5);
    }
    .edit{
        display: flex;
        flex-direction: row;
        justify-content:center;
        // padding-left:320px;
        align-items: center;
        gap: 40px;
        width: 100%;
    }

}
.function{
    display: flex;
    height: 100%;
    width: 20%;
}

.button-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}


.itemSupplier-container{
    display: flex;
    background-color: rgb(243, 155, 145);
    border: 1px solid;
    height: 8em;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-top: 10px;
    button{
        border: 2px solid;
        background-color: orange;
        cursor: pointer;
    }
    button:hover{
        background-color: rgb(151, 100, 5);
    }

}