
.productItem{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid;
    padding: 0 25px;
    padding-top: 10px;
    background-color: rgb(252, 205, 119);
    .productItem-text{
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: large;
        align-items: flex-start;
    }
    .productItem-text-small{
        font-size: smaller;
    }
    .btn{
        display: flex;
        justify-content: center;
    }
}

.productContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    background-color: rgb(228, 207, 207);
    padding-top: 50px;
    padding-bottom: 100px;
}

.headerContainer{
    font-size:50px;
    text-align: center;
    padding:5rem;
    background-color: bisque;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.search__container{
    width: 100%;
    height: 2rem;
    margin-top:2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.search__input
{
    width: 50%;
    height: 2rem;
}
.clear__button
{
    height: 100%;
    width: 10%;
    background-color:rgb(228, 82, 82);
    &:hover
    {
        background-color:rgb(101, 2, 2);
    }
}