
.Container{
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 4px;
    h1{
        // background-color: aqua;
        margin-top: 25px;
        margin-bottom: 50px;
        font-size: 40px;
        text-align: center;
    }
 
    .RegisterForm{
        display: flex;
        flex-direction: column;
        width: inherit;
        justify-content: center;
        align-items: center;

        input{
            width: 230px;
            height: 30px;
            margin-bottom: 20px;
        }
    }

}


.RegisterHeader{
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    align-items: center;
}