
.bg{
    background-color: rgb(255, 225, 0);
    height: 100vh;
    .supplier-container{
        display: flex;
        flex-direction: column;
       
    } 

}
 
.function{
    display: flex;
    justify-content: space-around;
    align-items: center;
}